.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #fff2fa;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 80px;
  top: 60px;
}
.menu-section {
  width: 469px;
  height: 39px;
  position: absolute;
  left: 838px;
  top: 60px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 211px;
  top: 0px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 348px;
  top: 0px;
}
.professor-contact-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1337px;
  position: absolute;
  left: 80px;
  top: 426px;
}
.professor-conract {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 43px;
}
.paul-t-shapiro-pshapiro-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 43px;
}
.hero-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 80px;
  top: 200px;
}
.contact-us {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  width: 1334px;
  height: 54px;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 102px;
  width: 1327px;
  height: 86px;
}
.ta-contact-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1340px;
  position: absolute;
  left: 77px;
  top: 632px;
}
.ta-contact {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 86px;
}
.caifu-lin-clin-0817-terpmail-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.sumanth-devara-sdevara-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.bharath-sreekuma-bsreeekum-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 3px;
  top: 47px;
  width: 1337px;
  height: 39px;
}
